.idea
.vscode

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/web/node_modules
client/web/.pnp
client/web/.pnp.js

# testing
client/web/coverage

# next.js
client/web/*.next/
client/web/out/

# production
client/web/build

# misc
.DS_Store
client/web/*.pem

# debug
client/web/npm-debug.log*
client/web/yarn-debug.log*
client/web/yarn-error.log*
client/web/.pnpm-debug.log*

# local env files
client/web/.env*.local

# vercel
client/web/.vercel

# typescript
client/web/.tsbuildinfo
client/web/next-env.d.ts

server/HELP.md
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server/!**/src/main/**/target/
server/!**/src/test/**/target/

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/
server/build/
server/!**/src/main/**/build/
server/!**/src/test/**/build/

### VS Code ###
server/.vscode/

